.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #video-modal {
  top: 0;
  height: 2vh;
} */

#modal-body {
  text-align: center;
  overflow: hidden;
  padding-right: 2vw;
  background-color: lightgrey;
}

#modal-header {
  background-color: black;
  color: white;
}

#video-container {
  position: absolute;
  /* background-color: white; */
  width: 48%;
  left: 1vw;
  overflow: hidden;
  height: 100%;
}

#my-video-container {
  position: absolute;
  width: 48%;
  right: 1vw;
  height: 100%;
  margin-left: 1vw;
}

.ui.cards>.card {
  display: flex;
}

#tab-container {
  height: 90%
}

#tab-pane {
  border-width: 0;
  background-color: whitesmoke;
  overflow-y: scroll;
  height: 85%;
}

.ui.column.grid>[class*="eleven wide"].column, .ui.grid>.column.row>[class*="eleven wide"].column, .ui.grid>.row>[class*="eleven wide"].column, .ui.grid>[class*="eleven wide"].column {
  padding-left: 0;
}

.header {
  padding-top: 1vh;
}

.instructor-div {
  color: grey
}

.ui.blue.button, .ui.red.button {
  /* margin-top: 2vw; */
  height: 100%;
  margin-right: 0vw;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  line-height: 3vh;
}

.ui.red.button {
  background-color: #cc3300;
}

.ui.inverted.menu {
  border-radius: 0;
  padding-bottom: 1vh;
  align-items: center;
}

#logo {
  width: 8vw;
}

#avatar {
  margin-right: 1vw;
}
